{% extends 'base.html.twig' %}

{% block title %}New Dishes{% endblock %}

{% block body %}
    <h1>Создать блюдо</h1>

    {{ include('dishes/_form.html.twig') }}

    <a href="{{ path('app_dishes_index') }}">Назад</a>
{% endblock %}
