<form method="post" action="{{ path('app_orders_delete', {'id': order.id}) }}" onsubmit="return confirm('Удалить?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
    <button class="btn">Удалить</button>
</form>
